/* #slider {
        width: 100%;
        margin-top: auto;
        height: 350px;
        /*line-height: 320px;*/

color: black;
text-shadow: 0px 0px 5px #444;

/*DEGRADADO CSS*/

background: rgb(196, 98, 8);
background: linear-gradient(0deg, rgba(196, 98, 8, 1) 0%, rgba(227, 242, 253, 1) 92%);
filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#51aff7', GradientType=1);

}
#slider h1 {
    margin-top: 0;
    padding: 0px;
    padding-top: 130px;
    text-align: center;
}
#slider.slider-small {
    height: 150px;
}
#slider.slider-small h1 {
    margin-top: 0.2px;
    padding: 0px;
    padding-top: 53px;
}
*/